.markdown-section a {
  text-decoration: none;
}

.markdown-section a:hover {
  text-decoration: underline;
}

.markdown-section .glossary-term {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.markdown-section .glossary-term:hover {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.markdown-section img {
  display: block;
  margin: auto;
  border: 1px solid #e8e8e8;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
  white-space: normal;
}

iframe {
  max-width: 100%;
}

.video-responsive {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-responsive iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}